.container {
  width: 950px;
  margin: 0px auto;
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  position: relative;
  padding-top: 80px;
  flex-direction: column;
  margin-bottom: 20px;
}

.container__article {
  width: 610px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  position: relative;
  margin-bottom: 20px;
  box-sizing: content-box;
}

.container__recommend {
  width: 293px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
}
