.container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.container__article {
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;
}

.container__recommend {
  width: 320px;
  border: 1px solid gray;
}
